{% extends 'base.html' %}

{% block contenet %}

<div class="edit-book-form">
    <form action="/books/{{book.id}}" method="POST">
        <div>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{book.title}}" required autofocus>
        </div>
        <div>
            <label for="author">Author:</label>
            <select name="author_id" id="author">
                {% for author in all_authors %}
                    <option value="{{ author.id }}"
                        {% if book.author.id == author.id %} selected="selected" {% endif %}>
                        {{ author.full_name()}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button class="btn-main">Update Book</a></button> 
    </form>
</div>

{% endblock %}