{% extends 'base.html' %}

{% block content %}
<!-- displaying book cards on page  -->
    <header class="book-page-header">
        <h1>List of Books</h1>
    </header>
    <div class="add-book-btn">
        <button class="btn-main"><a href="/books/new">Add A Book</a></button>
    </div>
    <section class="books-card-section"> 
        <div class="saved-books-container">
            {% for book in all_books %}
<!-- DELETE BTN -->
            <div class="book grow"><a class="book-card" href="/books/{{book.id}}/show">
                <div class="card__btn-header">
                    <form class="delete-form" action="/books/{{ book.id }}/delete" method="POST">
                        <button type="submit" class="footer-btn trash-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                </div>
<!-- END - DELETE BTN -->
                    <h3 class="book-tags"><i class="fa fa-book fa-3x"></i></h3> 
                    <p class="book-font-size">{{book.title}}</p>

                    <span class="book-font-size"> by <i>{{book.author.full_name()}}</i></span>

                    <div>
                        {% if book.completed %}
                            <span> &#9989;</span>
                        {%else%}
                            <span>still TBR...</span>
                        {% endif %} 
                    </div>
 
                </a></div>

        {% endfor %}
    <div>



</section>

{% endblock %}


