{% extends 'base.html' %}

{% block content %}
<!-- displaying book cards on page  -->
    <header class="book-page-header">
        <nav class="header-nav">
            <ul class="header-nav-links">
                <li><a href="/books/finished">See Completed</a></li>
                <li><a href="/books/tbr">See TBR</a></li>
            </ul>
        </nav>
        <h1>Library</h1>
    </header>
    <div class="add-book-btn">
        <button class="btn-main"><a href="/books/new"><i class="fa fa-plus" aria-hidden="true"></i> Add Book</a></button>
        <!-- <button class="btn-main"><a href="/books/finished"><i class="fa fa-plus" aria-hidden="true"></i> See Completed</a></button>
        <button class="btn-main"><a href="/books/tbr"><i class="fa fa-plus" aria-hidden="true"></i> See TBR</a></button> -->
    </div>
    <section class="books-card-section"> 
        <div class="saved-books-container">
            {% for book in all_books %}
<!-- DELETE BTN -->
            <div class="book grow"><a class="book-card" href="/books/{{book.id}}/show">
                <div class="card__btn-header">
                    <form class="delete-form" action="/books/{{ book.id }}/delete" method="POST">
                        <button type="submit" class="header-btn icon-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </form>
                </div>
<!-- END - DELETE BTN -->
                    <h3 class="book-tags"><i class="fa fa-book fa-3x"></i></h3> 
                    <p class="book-font-size">{{book.title}}</p>

                    <span class="book-font-size"> by <i>{{book.author.full_name()}}</i></span>

                    <div class="completed-status">
                        {% if book.completed %}
                            <span> Done &#9989;</span>
                        {%else%}
                            <span>still TBR... <i class="fa fa-hourglass-o" aria-hidden="true"></i></span>
                        {% endif %} 
                    </div>
 
                </a></div>

        {% endfor %}
 
</section>

{% endblock %}


