{% extends 'base.html' %}

{% block content %}
<h1>this is the view all books page</h1>
<button><a href="/">Home</a></button>
{% for book in all_books %}
    <p>Title</p>
        {{book.title}}
    <p>Author</p>
        {{book.author.full_name()}}
    <p>Completed?</p>
    {% if book.completed %}
        <span> &#9989;</span>
    {% else %}
        <span>&#10060;</span>
    {% endif %}

    <form action="/books/{{book.id}}" methods="POST">
        <label for="completed">  </label>
            <span>Finished Book?</span>
            <input type="checkbox" name="completed" id="completed" value="true" {{ "checked" if book.completed}}>
      
        <input type="submit" value="Update">
    </form>
    

    <form class="delete-form" action="/books/{{book.id}}/delete" method="POST">
        <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:red" aria-hidden="true"></i></button>
    </form>
<hr>
{% endfor %}

<button><a href="/books/new">Add A Book</a></button>
<button><a href="/books/authors/new">Add Author</a></button>
{% endblock %}