{% extends 'base.html' %}


{% block content %}
<form action="/books" method="post">

    <h1 class="new-book-heading">Add A Book Here</h1>
    <div>
        <label class="book-tags" for="title">Title:</label>
        <input type="text" name="title" id="title" placeholder="Title" required autofocus>
    </div>

    <div>
        <label class="book-tags" for="author">Author:</label>
        <select name="author_id" id="author">
            {% for author in all_authors %}
                <option value="{{ author.id }}">{{ author.full_name() }}</option>
            {% endfor %}
        </select>
    </div>

        <label class="book-tags" for="checked_out">Completed?</label>
        <input type="checkbox" name="completed" id="completed">
    
    <button class="btn-main" type="submit">Add Book</button>
</form>
{% endblock %}