{% extends 'base.html' %}

{% block content %}

    <div class="show-individual-book">
        <h3 class="book-tags"><i class="fa fa-bookmark fa-2x" aria-hidden="true"></i></h3> 
        <p class="book-title-show">{{book.title}}</p>

        <span class="book-author-show"> by <i>{{book.author.full_name()}}</i></span>
        <br>
        {% if book.notes != none %}
            <p>{{book.notes}}</p>
        {% endif %}
           
        <button class="btn-main"><a href="/books/{{book.id}}/edit"><i class="fa fa-pencil" aria-hidden="true"></i><span class="span-show-book">Edit</span></a></button> 
    </div>

{% endblock %}