{% extends 'base.html' %}


{% block content %}

    <div class="add-new-container">
        <h3 class="update-author-heading">Update Author Details</h3>
            <form action="/authors/{{author.id}}" method="POST">
                <div>
                    <label for="first-name" class="label-for-edit-author">First Name:</label>
                    <input type="text" id="first-name" name="first-name" value="{{author.first_name}}" required autofocus>
                </div>
                <div>
                    <label for="last-name" class="label-for-edit-author">Last Name:</label>
                    <input type="text" id="last-name" name="last-name" value="{{author.last_name}}" required>
                </div>
                <button class="btn-main">Update Author</a></button> 
            </form>
            <form class="delete-form" action="/authors/{{ author.id }}/delete" method="POST">
                <button type="submit" class="footer-btn trash-btn"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
            </form>
            <p class="warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Warning! Authors cannot be deleted if they are in use!</p>
    </div>

{% endblock %}