{% extends 'base.html' %}

{% block content %}
<div class="btn-container-author-page">
    <button class="btn-main"><a href="/authors/new"><i class="fa fa-plus" aria-hidden="true"></i> Add Author</a></button>
    <button class="btn-main btn-add-book-author-page"><a href="/books/new"><i class="fa fa-plus" aria-hidden="true"></i> Add Book</a></button>
</div>
<h1 class="author-page-heading">Authors</h1>
{% for author in all_authors %}
<ul class="author-index-page-links">
    <li>
        <a class="author-index-page" href="/authors/{{author.id}}/edit">{{author.full_name()}} <i class="fa fa-pencil" aria-hidden="true"></i></a>
    </li>
</ul>
{% endfor %}

{% endblock %}