{% extends 'base.html' %}

{% block content %}
<h1 class="author-page-heading">Authors</h1>
{% for author in all_authors %}
<ul class="author-index-page-links">
    <li>
        <a class="author-index-page" href="/authors/{{author.id}}/edit">{{author.full_name()}}</a>
    </li>
</ul>
{% endfor %}
<button class="btn-main"><a href="/authors/new"><i class="fa fa-plus" aria-hidden="true"></i></i>Add Author</a></button>
<button class="btn-main"><a href="/books/new">Add Book</a></button>
{% endblock %}