{% extends 'base.html' %}


{% block content %}
<button class="btn-main"><a href="/">Home</a></button>
<button class="btn-main"><a href="/books">View All Books</a></button>
<button class="btn-main"><a href="/authors">View All Authors</a></button>
<form action="/authors" method="post">
    <h4>Author Info</h4>
    <div>
        <label for="first-name">First Name:</label>
        <input type="text" name="first-name" id="first-name" placeholder="First Name" required autofocus>
    </div>

    <div>
        <label for="last-name">Last Name:</label>
        <input type="text" name="last-name" id="last-name" placeholder="Last Name" required autofocus>
    </div>

    <button class="btn-main" type="submit"> Add Author</button>

</form>
{% endblock %}