*, *::before, *::after {
    box-sizing: border-box;
  }


body {
    background-color: #fefbe9;
    margin: 0;
}

.nav {
    display:flex;
    list-style: none;
    justify-content: space-around;
    background-color: #e1eedd;
    margin-top: 0;
    padding: 2rem; 
}

.nav-links > a {
    text-decoration: none;
    color:#183a1d;
    font-family: 'Comfortaa', cursive;
    font-size: small;
    font-weight: 700;
}

.nav-links > a:hover {
    text-decoration: underline;
    color:#183a1d;
    cursor: pointer;
    font-style: italic;
}

.main-header {
    margin-top: 20px; 
    font-family: 'Maven Pro', sans-serif;
    color: #f0a04b;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

header > h1 {
    font-weight: 700;
}

input[type=number] {
    appearance: none;
    border: none;
    background-color: #e1eedd;
    padding: 10px 10px 10px 0px;
    width: 103px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #e1eedd;
    width: 400px;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 7px 9px 14px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.section-container {
    text-align: center;
    color: #183a1d;
    font-family: 'Comfortaa', cursive;
}

.margin-top {
    margin-top: 12px;
    text-align: left;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-main {
    background-color: #183a1d;
    border: none; 
    border-radius: 0.3rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    margin-top: 20px; 
    color: #ffff;
    transition: background-color ease-out 50ms;
    font-family: 'Josefin Sans', sans-serif;
}

.btn-main.btn-main:hover {
    background-color:#304933;
    text-decoration: underline;
    cursor: pointer;
}

.btn-main > a {
    text-decoration: none;
    color: #ffff; 

}
.btn-main > a:hover {
    text-decoration: underline;
}
.btn-main > a:visted {
    color: white; 

}

.btn-margin-main-page {
    margin-top: 3rem;
}


/* BOOKS INDEX PAGE */

.saved-books-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}

.book-page-header {
    text-align: center;
    color: #f0a04b;
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.2em;

}

.add-book-btn {
    display: flex; 
    justify-content: flex-end;
    margin-right: 2rem; 

}

.book-card {
    text-decoration: none;
    color:#183a1d;
}

.book {
    margin: 2rem;
    background-color:#e1eedd;
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-family: 'Comfortaa', cursive;
    box-shadow: 7px 9px 14px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    width: 20%;
    text-align: center;
    flex-basis: 1;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

.book-tags {
    color:#183a1d;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 16px;

}

.book-font-size {
    font-size: 14px;
    line-height: 20px;
}


.extra-margin {
    margin-top: 2rem; 
} 


.card__btn-header {
    display: flex;
    justify-content: flex-end;
}

.header-btn {
    border: none; 
    border-radius: 0.1rem;
    font-family: 'Comfortaa', cursive;
    padding: 0.3rem 0.4rem 0.3rem 0.4rem;
    font-size: 10px;
    color: white;
}

.header-btn:hover {
    background-color:rgba(215, 50, 50)
}


.completed-status {
    margin-top: 0.5rem;
}


.icon-btn {
    background-color: rgb(243, 78, 78);
    cursor: pointer;
}

/* ADDING A NEW BOOK / NEW AUTHOR */

.add-new-container {
    background-color:rgb(225, 238, 221, 0.5);
    width: 300px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    display: flex; 
    flex-wrap: wrap;
    border-radius: 0.2rem;
}

.new-heading {
    font-family: 'Maven Pro', sans-serif;
    color: #f0a04b;
    margin-top: 2.5rem;
    margin-left: 5.5rem;
}

.font-size {
    font-size: 30px; 
}

.btn-new-container {
    display: flex;
    justify-content: space-between;
}

.btn-save {
    width: 40%;
    height: 40px;
    padding: 0;
}

.btn-add {
    width: 50%;
    height: 40px;
    padding: 0;
}

#first-name, #last-name, .label-for-edit-author {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    font-size: 16px;
}

.label-new-author {
    font-size: 16px;
}
input[type=text] {
    appearance: none;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.title-input {
    margin-top: 0.5rem;
}
.add-author-select {
    margin: 1rem 0 1rem 0;
}

.add-author-select > select {
    margin-top: 0.5rem;
}

select {
    outline: 0;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
}


/* EDITING AUTHOR */

.update-author-heading {
    font-size:22px;
    font-family: 'Maven Pro', sans-serif;
    color: #f0a04b;
    margin-top: 10px;
    margin-bottom: 40px;

}

.footer-btn {
    border: none; 
    border-radius: 0.3rem;
    padding: 0.7rem 1rem 0.7rem 1rem;
    margin-top: 20px; 
    color: #ffff;
    transition: background-color ease-out 50ms;
    font-family: 'Josefin Sans', sans-serif;
    padding-right: 50px;
}

.warning {
    margin-top: 1rem;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
}

.footer-btn:hover {
    background-color:rgba(215, 50, 50)
}

/* EDITING BOOK */

.container-margin {
    margin-top: 4rem;
}
.label-for-edit-book {
    font-size: 16px;
}

.margin-book-edit {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
/* SHOWING INDIVIDAUL BOOK */

.show-individual-book {
    background-color:rgb(225, 238, 221, 0.5);
    width: 30%;
    margin: 5rem auto;
    padding: 2rem;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.book-title-show {
    font-size: 16px;
}

.book-author-show {
    font-size: 14px;
}

.span-show-book {
    margin-left: 0.5rem;
    font-size: 11px;
}

/* AUTHORS INDEX PAGE */

.container-index-author-page {
    width: 82%;
    margin-left: 100px;  
}

.btn-container-author-page {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
.author-page-heading {
    margin-top: 0;
    margin-left: 2rem;
    font-family: 'Maven Pro', sans-serif;
    color:#f0a04b;
    font-size: 2.4em;
}

.author-index-page-links {
     list-style: none;
}

.author-index-page {
   text-decoration: none;
   color:#183a1d;
   font-family: 'Comfortaa', cursive;
}

.author-index-page:hover {
    color:#46894d;
}

.btn-add-book-author-page {
    margin-right: 1.2rem; 
}

/* TBR PAGE */
.background {
    background-color: transparent;
    color:#183a1d;
}

.background:hover {
    background-color:#699370;
}