{% extends 'base.html' %}

{% block content %} 
<main>
        <header class="main-header">
            <h1>2023 Book Bucket List</h1>
        </header>
        <section>
            <div class="container">
                <!-- <div class="section-container">
                    <input type="number" id="goal" name="goal" placeholder="Enter Goal" min="1" required>
                    <p class="margin-top">in Goal</p>
                </div> -->
                <div class="section-container">
                        <p>{{all_books|length}}</p>
                    <p>in TBR</p>
                </div>

                <div class="section-container">
                    <p>2</p>
                    <p>in Read
                    </p>
                </div>
            </div> 
        </section>

            <div class="btn-container">
                <button class="btn-main btn-margin-main-page"><a href="/books">View</a></button>
            </div>
</main>
{% endblock %}