{% extends 'base.html' %}

{% block content %} 
<main>
        <header class="main-header">
            <h1>2023 Book Bucket List</h1>
        </header>
        <section>
            <div class="container">

                <div class="section-container">
                    <p>3</p>
                    <p>in TBR</p>
                </div>
                <div class="section-container">
                    <p>10</p>
                    <p>in Goal</p>
                </div>
                <div class="section-container">
                    <p>2</p>
                    <p>in Read
                    </p>
                </div>
            </div> 
        </section>

            <div class="btn-container">
                <button class="btn-main"><a href="/books">View</a></button>
            </div>
</main>
{% endblock %}